<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.tcnrcloud110.quiz">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->

    <permission
        android:name="tw.tcnrcloud110.quiz.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!--定位許可權限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--網路許可權限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--android 9.0上使用前台服務，需要添加權限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--Google map-->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--儲存裝置-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--使用電話-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- google map憑證-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Q0101"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Q0100"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0200"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0300"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0301"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0302"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0303"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0304"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0311"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0312"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0400"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0401"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0401a"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0401_Main"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0411"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0412"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0413"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0421"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0422"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0500"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0500_map"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0501"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0501c001"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0501c002"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0501c003"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0511"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0512"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0513"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0600"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0601"
            android:screenOrientation="portrait"/>
        <activity android:name=".Q0602"
            android:screenOrientation="portrait"/>
    </application>
</manifest>